<div class="row">
	<div class="col-md-8 col-md-offset-2">
    	<div class="panel panel-default">
    		<div class="panel-heading">
    			Revision Control
    		</div>
    		<div class="panel-body">
    			<form ng-submit="editArtCtrl.changeRevision(editArtCtrl.currentRevision)">
	        		<div class="form-group">
	                	<label for="revision">Revision</label>
	                	[[revisionSelect]]
	            		<select id="revision" ng-model="revisionSelect" ng-change="editArtCtrl.selectRevision(revisionSelect)" class="form-control" ng-options="revision.id as (revision.created_formatted + ' - ' + revision.reason + ' - ' + revision.user.name) for revision in editArtCtrl.article.revisions | orderBy:'created':true">
		            	</select>
	            	</div>
	            	<button ng-if="AppCtrl.userCan('admin', AppCtrl.getGroupUrl()" type="submit" class="btn btn-default btn-block">Publish this Revision</button>
	            </form>
            </div>
    	</div>
    </div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
		    <div class="panel-heading">
		        <strong class="h3">Edit Article</strong>
		    </div>
		    <div class="panel-body">
		    	<form ng-submit="editArtCtrl.edit(editArtCtrl.article)">
		            <div class="form-group">
		            	<label for="client">Group</label>
		            	<select required class="form-control" id="client" ng-model="editArtCtrl.article.group" ng-options="group.id as group.name for group in editArtCtrl.getGroupsWhereCan('write') | orderBy:'name'">
		            	</select>
		            </div>
		            <div class="form-group">
		            	<label for="title">Title</label>
		            	<input type="text" required class="form-control" id="title" maxlength="255" ng-model="editArtCtrl.currentRevision.title">
		            </div>
		            <div class="form-group">
		            	<label for="content">Content</label>
		            	<text-angular name="content" ng-model="editArtCtrl.currentRevision.content"></text-angular>
		            </div>
		            <div class="form-group">
		            	<label for="reason">Reason for Edit</label>
		            	<input type="text" required class="form-control" id="reason" maxlength="255" ng-model="editArtCtrl.currentRevision.reason" placeholder="A simple reason or explanation of your edit">
		            </div>
		            <div class="form-group">
		            	<label for="published">Publish Date</label>
		            	<input pick-a-date="editArtCtrl.article.published" type="text" required class="form-control" id="published" maxlength="255">
		            </div>
		            <div class="checkbox">
		            	<label for="comments">
		                	<input type="checkbox" value="1" id="comments" ng-model="editArtCtrl.article.comments_enabled">
		                	Allow Comments
		            	</label>
		            </div>
		            <div class="checkbox">
		            	<label for="help">
		            		<input type="checkbox" value="1" id="help" ng-model="editArtCtrl.article.help">
		            		Add to Help
		            	</label>
		            </div>
		        </form>
		    </div>
		</div>
	</div>
</div>
<div class="row" id="actionsNavRow">
    <div class="container-fluid" id="actionsNav">
        <div class="row">
            <nav class="actions text-center container">
                <ul>
                    <li ui-sref="fox.articles({groupId: AppCtrl.getGroupUrl()})" class="pull-left"><span class="glyphicon glyphicon-remove"></span>cancel</li>
					<li ng-if="AppCtrl.userOwns(editArtCtrl.article)" class="pull-right positive" ng-click="editArtCtrl.edit(editArtCtrl.article)"><span class="glyphicon glyphicon-ok"></span>save</li>
					<div class="clearfix"></div>
                </ul>
            </nav>
        </div>
    </div>
</div>