<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
    	<div class="row">
        	<a ui-sref="fox.articles"><btn class="btn btn-default pull-right">Cancel</btn></a>
        </div>
        <div class="row">
        	<div class="col-md-8 col-md-offset-2">
	        	<div class="panel panel-default">
	        		<div class="panel-heading">
	        			Revision Control
	        		</div>
	        		<div class="panel-body">
	        			<form ng-submit="editArtCtrl.changeRevision(editArtCtrl.currentRevision)">
			        		<div class="form-group">
			                	<label for="revision">Revision</label>
			            		<select id="revision" ng-model="editArtCtrl.revisionSelect" ng-change="editArtCtrl.selectRevision(editArtCtrl.revisionSelect)" class="form-control">
				            		<option ng-repeat="revision in editArtCtrl.article.revisions | orderBy:'created':true" value="[[revision.id]]">[[revision.created | date:'dd/MM/yyyy @ h:mma']] - [[revision.reason]] - [[revision.user.name]]</option>
				            	</select>
			            	</div>
			            	<button type="submit" class="btn btn-default btn-block">Publish this Revision</button>
			            </form>
		            </div>
	        	</div>
	        </div>
        </div>
        <h1>Edit Article</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                
            </div>
            <div class="panel-body">
            	<form ng-submit="editArtCtrl.edit(editArtCtrl.article)">
	                <div class="form-group">
	                	<label for="client">Group</label>
	                	<select required class="form-control" id="client" ng-model="editArtCtrl.article.group">
	                		<option value="null">-- Please Select -- </option>
	                		<option ng-repeat="group in editArtCtrl.getGroupsWhereCan('write')" value="[[group.id]]">
	                			[[group.name]]
	                		</option>
	                	</select>
	                </div>
	                <div class="form-group">
	                	<label for="title">Title</label>
	                	<input type="text" required class="form-control" id="title" maxlength="255" ng-model="editArtCtrl.currentRevision.title">
	                </div>
	                <div class="form-group">
	                	<label for="content">Content</label>
	                	<text-angular name="content" ng-model="editArtCtrl.currentRevision.content"></text-angular>
	                </div>
	                <div class="form-group">
	                	<label for="reason">Reason for Edit</label>
	                	<input type="text" required class="form-control" id="reason" maxlength="255" ng-model="editArtCtrl.currentRevision.reason" placeholder="A simple reason or explanation of your edit">
	                </div>
	                <div class="form-group">
	                	<label for="published">Publish Date</label>
	                	<input pick-a-date="editArtCtrl.article.published" type="text" required class="form-control" id="published" maxlength="255">
	                </div>
	                <div class="checkbox">
	                	<label for="comments">
		                	<input type="checkbox" value="1" id="comments" ng-model="editArtCtrl.article.comments_enabled">
		                	Allow Comments
	                	</label>
	                </div>
	                <div class="checkbox">
	                	<label for="help">
	                		<input type="checkbox" value="1" id="help" ng-model="editArtCtrl.article.help">
	                		Add to Help
	                	</label>
	                </div>
	                <input type="submit" class="btn btn-primary btn-block" value="Save">
	            </form>
            </div>
	    </div>
    </div>
</div>