<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <a ui-sref="fox.articles"><btn class="btn btn-default pull-right">Cancel</btn></a>
        <h1>Create Article</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Article Details</strong>
            </div>
            <div class="panel-body">
            	<form ng-submit="createArtCtrl.create(newArticle)">
	                <div class="form-group">
	                	<label for="client">Group</label>
	                	<select ng-init="newArticle.group = null" required class="form-control" id="client" ng-model="newArticle.group">
	                		<option selected value="null">-- Please Select -- </option>
	                		<option ng-repeat="group in createArtCtrl.getGroupsWhereCan('write')" value="[[group.id]]">
	                			[[group.name]]
	                		</option>
	                	</select>
	                </div>
	                <div class="form-group">
	                	<label for="title">Title</label>
	                	<input type="text" required class="form-control" id="title" maxlength="255" ng-model="newArticle.title">
	                </div>
	                <div class="form-group">
	                	<label for="content">Content</label>
	                	<text-angular name="content" ng-model="newArticle.content">
						    <p>Any <b>HTML</b> we put in-between the text-angular tags gets automatically put into the editor if there  <strong style="font-size: 12pt;"><u><em>is not</em></u></strong> a value assigned to the ngModel.</p>
						    <p>If there is a value assigned to the ngModel, it replaces any html here. To see this, uncomment the line at the bottom of demo.html</p>
						</text-angular>
	                </div>
	                <div class="form-group">
	                	<label for="published">Publish Date</label>
	                	<input pick-a-date="newArticle.published" type="text" required class="form-control" id="published" maxlength="255">
	                </div>
	                <div class="checkbox">
	                	<label for="comments">
		                	<input type="checkbox" value="1" id="comments" ng-model="newArticle.comments">
		                	Allow Comments
	                	</label>
	                </div>
	                <div class="checkbox">
	                	<label for="help">
	                		<input type="checkbox" value="1" id="help" ng-model="newArticle.help">
	                		Copy to Help Section?
	                	</label>
	                </div>
	                <input type="submit" class="btn btn-primary btn-block" value="Create">
	            </form>
            </div>
	    </div>
    </div>
</div>