<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong class="h3">[[showArtCtrl.article.title]]</strong>
            </div>
            <div class="panel-body" ng-bind-html="showArtCtrl.article.content">
            </div>
            <div class="panel-footer">
                <strong><small>by [[showArtCtrl.article.user.name]]</small></strong><small class="pull-right">[[showArtCtrl.article.published | date:'fullDate']]</small>
            </div>
        </div>
        <div class="panel panel-default" ng-if="showArtCtrl.article.comments_enabled">
        	<div class="panel-body">
        		<div ng-if="showArtCtrl.article.comments[0]" ng-repeat="comment in showArtCtrl.article.comments">
        			<h5 class="pull-right">[[comment.created]]</h5>
        			<strong>[[comment.user.name]]:</strong>
        			<div ng-bind-html="comment.content">
        			</div>
        		</div>
                <div ng-if="!showArtCtrl.article.comments[0]">
                    <p class="help-block">There are no comments yet. Add one below!</p>
                </div>
            </div>
            <div class="panel-footer">
                <form ng-submit="showArtCtrl.addComment(showArtCtrl.newComment)">
				    <text-angular name="content" ng-model="showArtCtrl.newComment"></text-angular>
				    <button type="submit" ng-disabled="showArtCtrl.postingComment" class="btn btn-primary btn-block">Add Comment</button>
				</form>
            </div>
        </div>
    </div>
</div>