<li ui-sref="fox.articles({groupId: AppCtrl.getGroupUrl()})" class="minor pull-left"><span class="glyphicon glyphicon-chevron-left"></span> back</li>
<li class="negative" ng-click="showArtCtrl.deleteArticle()" ng-if="!showArtCtrl.article.deleted"><span class="glyphicon glyphicon-remove"></span> delete</li>
<li ui-sref="fox.articles.create({groupId: AppCtrl.getGroupUrl()})" ng-if="!showArtCtrl.article.deleted" class="pull-right"><span class="glyphicon glyphicon-comment"></span> comment</li>
<li class="" ng-click="showArtCtrl.restoreArticle()" ng-if="showArtCtrl.article.deleted"><span class="glyphicon glyphicon-repeat"></span> restore</li>
<li ui-sref="fox.articles.edit({groupId: AppCtrl.getGroupUrl(), articleId: showArtCtrl.article.id})" ng-if="!showArtCtrl.article.deleted" class=""><span class="glyphicon glyphicon-cog"></span> edit</li>
<div class="clearfix"></div>